<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lamda.web.mappers.MovieMapper">
    <insert id="insertMovie"
            parameterType="com.lamda.web.movie.MovieDTO">
        insert rank, title, rank_date into movie
        values (#{rank},#{title},#{rankDate})
        <selectKey resultType="int" keyProperty="iq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updateMovie"
            parameterType="com.lamda.web.movie.MovieDTO">
        update movie
        <set>
            <if test="rank != null">rank = #{rank},</if>
            <if test="title != null">title = #{title},</if>
            <if test="rank_date != null">rank_date = #{rankDate},</if>
        </set>
        where movie_seq like #{movieSeq}
    </update>
    <delete id="deleteMovie"
            parameterType="com.lamda.web.movie.MovieDTO">
        delete from movie where movie_seq like #{movieSeq}
    </delete>
    <select id="selectMovies" resultType="com.lamda.web.movie.MovieDTO"
                             parameterType="com.lamda.web.proxy.Pager">
      select movie_seq movieSeq, rank, title, rank_date rankDate
      from movie
      <if test="searchWord != null">
          where title like '%${searchWord}%'
      </if>
      limit #{startRow}, #{pageSize}
    </select>
    <select id="selectMovie" resultType="com.lamda.web.movie.MovieDTO"
                            parameterType="String">
      select movie_seq movieSeq, rank, title, rank_date rankDate
      from movie
      where movie_seq like '${seq}'
    </select>
    <select id="countMovies" resultType="int">
      select count(*)
      from movie
    </select>
    <select id="switchMovie"
            resultType="com.lamda.web.movie.MovieDTO"
            parameterType="com.lamda.web.movie.MovieDTO">
        select movie_seq movieSeq, rank, title, rank_date rankDate
        from movie WHERE title like '%${searchWord}%'
        <choose>
            <when test="title != null">
                AND title like #{title}
            </when>
            <when test="ost != null and ost.seq != null">
                AND sot like #{ost.seq}
            </when>
            <otherwise>
                AND rank_date like '$%{rankDate}%'
            </otherwise>
        </choose>
    </select>
    <select id="selectPostIn" resultType="com.lamda.web.movie.MovieDTO">
        SELECT *
        FROM music m
        WHERE seq in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{movie}
        </foreach>
    </select>
</mapper>